/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .main-w {
    width: 1090px;
  }
}

html,
body,
#app {
  min-height: 100vh;
}

li {
  list-style-type: none;
}
